<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width" >
  <%= stylesheet_link_tag "style" %>

  <title><%= current_page.data.title || "Ariel" %></title>
  <meta name="description" content="<%= current_page.data.meta %>" >
</head>

<body class="<%= page_classes %>">
  <nav class="navleft">
    <ul>
      <li><a href="index.html" class="side-link"><i class=" fa fa-home"></i><br>Home</a></li>
      <li><a href="resume.html" class="side-link"><i class="fa fa-columns"></i><br>Resume</a></li>
    </ul>
  </nav>

  <nav class="navtop">
    <span id="menutoggle" class="fa fa-bars fa-2x"></span>
    <div id="navmob" class="hidden" >
      <ul>
        <li>
          <a href="index.html"><i class=" fa fa-home"></i><br>Home</a>
        </li>
        <li>
          <a href="portfolio.html"><i class="fa fa-book"></i><br>Portfolio</a>
        </li>
        <li>
          <a href="resume.html"><i class="fa fa-columns"></i><br>Resume</a>
        </li>
        <li>
          <a href="contact.html"><i class="fa fa-comment"></i><br>Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <%= yield %>

  <nav class="navright">
    <ul>
      <li><a href="portfolio.html" class="side-link"><i class="fa fa-book"></i><br>Portfolio</a></li>
      <li><a href="contact.html" class="side-link"><i class="fa fa-comment"></i><br>Contact</a></li>
    </ul>
  </nav>
  <%= javascript_include_tag "https://code.jquery.com/jquery-1.11.3.min.js", "moves" %>
</body>
</html>
