---
title: Portfolio
---
<main>
	<h1>Portfolio</h1>

	<div class="mainFolio">
		<div class="folio">
			<a href="starburger.html">
				<p>Star Burger design</p>
				<%= image_tag "starBurgerCrop.png", alt: 'star burger', class:'stuff things' %>
			</a>
		</div>

		<div class="folio">
			<a href="tools.html">
				<p>17 Tools design</p>
				<%= image_tag "17ToolsCrop.png", alt: '17 tools design' %>
			</a>
		</div>

		<div class="folio">
			<a href="surf.html">
				<p>Surf Australia design</p>
				<%= image_tag "surfCrop.png", alt: 'surf Australia design' %>
			</a>
		</div>

		<div class="folio">
			<a href="boost.html">
				<p>Boostworks design</p>
				<%= image_tag "boost.png", alt: 'Boostworks design' %>
			</a>
		</div>

		<div class="folio ad">
			<a href="http://infoweb.hornsby.tafensw.edu.au/~indigo12/sunnyspot/index.php">
				<p>Sunny Spot Ad</p>
				<%= image_tag "Sunnyspot.gif", alt: 'ad for Sunnyspot' %>
			</a>
		</div>

	</div>
</main>