---
title: Sunny Spot website
meta: Website for "Sunny Spot Holidays" made using HTML, CSS, PHP, JavaScript, and jQuery by Arielherself / Ariel Smith-Essers. Home page for this website was predesigned, however all subsequent pages were designed by Ariel.
---
	<h1>Sunny Spot website</h1>
	<div class="portInfo">
	<p>Sunny Spot is a website that I created as part of my TAFE course. It was an amalgamation of everything I learnt in my course, creating this website I used HTML, CSS, JavaScript, jQuery, and PHP. The project involved:</p>
	<ul>
		<li>Creating the Home page to specification using a set design</li>
		<li>Designing and coding the rest of the pages to fit into the given design</li>
		<li>Designing and coding Administration pages for the website</li>
		<li>Validating forms using JavaScript</li>
	</ul>
	</div>

	<div class="mainFolio">

		<div class="folio " >
			<p>Home page</p>
			<%= image_tag "sunnyspot.png", alt: 'sunnyspot Home page' %>
		</div>

		<div class="folio" >
			<p>"Things to Do" page</p>
			<%= image_tag "todo.png", alt: 'sunnyspot design' %>
		</div>

		<div class="folio" >
			<p>Accommodation page</p>
			<%= image_tag "accomCrop.png", alt: 'sunnyspot design' %>
		</div>

		<div class="folio" >
			<p>Administration homepage</p>
			<%= image_tag "adminCrop.png", alt: 'sunnyspot design' %>
		</div>

		<div class="folio" >
			<p>Insert new cabin form</p>
			<%= image_tag "insert.png", alt: 'sunnyspot design' %>
		</div>

	</div>
